---
layout: default
---

<div class="teaserimage">
  <div class="teaserimage-image" style="background-image: url({{ site.cover | asset_path }})">
      Teaser Image
  </div>
</div>

<header class="blog-header">
  <a class="blog-logo" href="{{site.url}}" style="background-image: url({{ site.logo | asset_path }})">{{ site.title }}</a>
  <h1 class="blog-title">{{ site.title }}</h1>
  <h2 class="blog-description">{{ site.description }}</h2>
  <div class="custom-links">
    {% for social in site.social %}
      {% if social.url %}
          <a class="icon-{{ social.icon }}" href="{{ social.url }}">
            <i class="fa fa-{{ social.icon }}"></i>
          </a>
          &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endif %}
    {% endfor %}
    <!-- <a href="/about/">About</a> -->
    <a href="/">About</a>
  </div>
</header>

<main class="content" role="main">
  <hr>
  <div class="cf frame">
    {% for post in paginator.posts %}
      <article itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item"><!-- no css -->
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
          </header>
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
          </div>
          <section class="post-excerpt" itemprop="description">
            <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
          </section>
        </div>
      </article>
      <hr>
    {% endfor %}
  </div>

  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="/">Newer posts &rarr;</a>
      {% else %}
        <a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
      {% endif %}
    {% endif %}
  </nav>
</main>

{% include footer-default.html %}
