---
layout: default
---
<main class="post" role="main">
  <article>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="cf post-meta-text">
      <ul>
        <li>Written on </li>
        <li><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></li>
        <li> --- </li>
        <li class="post-reading-time"></li>
        <li> to read</li>
      </ul>

      <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
    </div>

    <!-- article body start -->
    <section class="post-content">
      {{content}}
    </section>
    <!-- article body end -->

    <hr>

  </article>
</main>

{% include footer-default.html %}
{% include footer-post.html %}
